.header {
  background-color: darken(#398b93, 5%);
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.imgCart {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.table-users {
  border: 1px solid darken(#398b93, 5%);
  border-radius: 10px;
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}

table {
  width: 100%;

  td,
  th {
    color: darken(#398b93, 10%);
    padding: 10px;
  }
  .mdel {
    cursor: pointer;
  }
  td {
    text-align: center;
    vertical-align: middle;

    &:last-child {
      font-size: 0.95em;
      line-height: 1.4;
      text-align: left;
    }
  }

  th {
    background-color: lighten(#398b93, 50%);
    font-weight: 300;
  }

  tr {
    &:nth-child(2n) {
      background-color: #8ac9cf;
    }
    &:nth-child(2n + 1) {
      background-color: lighten(#398b93, 55%);
    }
  }
}

@media screen and (max-width: 700px) {
  table,
  tr,
  td {
    display: block;
  }

  td {
    &:first-child {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
    }

    &:not(:first-child) {
      clear: both;
      margin-left: 100px;
      padding: 4px 20px 4px 90px;
      position: relative;
      text-align: left;

      &:before {
        color: lighten(#398b93, 30%);
        content: "";
        display: block;
        left: 0;
        position: absolute;
      }
    }

    &:nth-child(2):before {
      content: "Name:";
    }
    &:nth-child(3):before {
      content: "Email:";
    }
    &:nth-child(4):before {
      content: "Phone:";
    }
    &:nth-child(5):before {
      content: "Comments:";
    }
  }

  tr {
    padding: 10px 0;
    position: relative;
    &:first-child {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    background-color: transparent;
    color: lighten(#398b93, 60%);
    font-size: 2em;
  }
}
